<div class="details" *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id:</label>{{hero.id}}
  </div>
  <div>
    <label>name:</label>{{hero.name}}
  </div>

  <div>
    <label for="hero-name">name: </label>
    <input type="text" id="hero-name" [(ngModel)]="hero.name">
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
