<div>
  <label for="hero-name">Hero name</label>
  <br/>
  <input #heroName>
  <br/>
  <button (click)="add(heroName.value); heroName.value=''">
    Add Hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    {{hero.name}}

    <button class="delete" (click)="remove(hero); $event.stopPropagation()">&times;</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
